<h1>My Parties</h1>

<div id = "new">
  <div id="newparty" class="ui pink button">
    <i class="plus icon"></i>Create New Party!
  </div>
</div>

<div id="partylist" class="ui list">
  <% @parties.each do |party| %>
  <div data-id="<%= party.id %>" class="item">
    <div class="header list">
      <%= link_to "#{party.title}", party_path(party) %>
    </div>
  </div>
  <% end %>
</div>
