<!DOCTYPE html>
<html>
<head>
  <title>MashGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui secondary  menu">
    <% if current_user %>

      <a class="item"  href="/mashes/">
        <i class="unordered list icon"></i> My Mash Games
      </a>
      <div class="right menu">
        <a class="ui item" href="/sign-out">Sign Out</a>
    <% else %>
        <a class="ui item" href="/sign-in">Sign In</a>
        |
        <a class="ui item" href="/sign-up">Sign Up</a>
    <% end %>
      </div>
  </div>

  <%= yield %>

</body>
</html>
